node_modules/
dist/
.next/
.env
*.log
.DS_Store
.spc.cache.php
data/pg/
uploads/
packages/backend/private/
data/*.sql
data/*.dump
*.tsbuildinfo
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
.capacitor/
packages/backend/imaptest.tmp.ts
